.background-image {
  background-size: cover;
  background-position: center;
  min-height: 98vh;
  background: url("../img/bgimage.png") no-repeat;
}

.block-text1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.box-number {
  font-size: 25px;
  text-align: center;
  margin-top: -5px;
}

.icon2 {
  height: 35px;
}

.item-uber {
  font-size: 13px;
}

.btn-style {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  border: 0;
  padding: 16px;
  font-family: sans-serif;
}

.main-section1 {
  min-height: 100vh;
}

.blutext-table {
  color: #1eacc7;
  font-size: 15px;
}

.text-table {
  font-size: 15px;
  text-align: justify;
}

.par-blok2 {
  text-align: center;
  background-color: #000000;
  width: 20vh;
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
  margin: 0 auto;
}

.background-image2 {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background: url("../img/bgimage2.png");
  padding-bottom: 35px;
}

.background-image2 .item-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 80vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 10px;
  grid-gap: 10px;
}

.background-image2 .image-box {
  position: relative;
  width: 25vw;
  height: 45vh;
}

.background-image2 .image-box .text-image {
  margin: 10vh 0;
  padding: 5px;
}

.background-image2 .image-box:first-child {
  background: url("../icons/icon11.png");
}

.background-image2 .image-box:nth-child(2) {
  background: url("../icons/icon12.png");
}

.background-image2 .image-box:nth-child(3) {
  background: url("../icons/icon13.png");
}

.background-image2 .image-box:nth-child(4) {
  background: url("../icons/icon14.png");
}

.background-image2 .image-box:nth-child(5) {
  background: url("../icons/icon15.png");
}

.background-image2 .image-box:nth-child(6) {
  background: url("../icons/icon16.png");
}

.fsize-box {
  font-size: 19px;
}

.row-image2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle-item {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 42%;
}

.circle-item:hover {
  background-color: #95deeb;
}

.main-section4 {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background: url("../img/bgimage4.png");
  padding-bottom: 5rem !important;
}

.par-blok2-white {
  text-align: center;
  background-color: #ffffff;
  width: 20vh;
  color: #000000;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
  margin: 0 auto;
}

.main-section5 {
  min-height: 90vh;
  padding-bottom: 5rem !important;
}

.main-section5 .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: 0 auto;
  margin-top: 20px;
}

.main-section5 .layout .text-par {
  padding: 0 0 5px 0;
  color: #1eacc7;
  font-weight: 600;
  font-size: 17px;
}

.main-section5 .layout .text-par-red {
  padding: 0 0 5px 0;
  color: #ff8787;
  font-weight: 600;
  font-size: 17px;
}

.layout .container {
  line-height: 24px;
}

.main-section6 {
  min-height: 90vh;
  background: url("../img/bgimage6.png");
  background-size: cover;
  background-position: center;
}

.main-section6 .text-last {
  margin-top: 55vh;
  color: #1eacc7;
}

.footer {
  min-height: 15vh;
}

.footer hr {
  width: 22vw;
  background-color: #1fbad6;
  padding-top: 2px;
}

.footer .layout-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .layout-90 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 85vw;
  margin: 0 auto;
  margin-top: 20px;
}

.footer .layout-90 .layout-li {
  padding: 0;
}

.footer .layout-90 .layout-li .href-box {
  color: black;
  text-decoration: none;
}

.footer .layout-90 .middle-column {
  margin-left: 10vw;
}

.footer .layout-90 .middle-column .fsize-li1 {
  font-size: 18px;
}

.footer .layout-90 .middle-column .fsize-li2 {
  font-size: 12px;
}

.footer .black-line {
  height: 8px;
  background: #000000;
}

.footer .layout-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.footer .layout-icon .href-btn {
  cursor: pointer;
}

.footer .layout-icon .iconapp {
  width: 100px;
  height: 32px;
}

.footer .layout-icon .icongl {
  width: 115px;
  height: 48px;
}

.footer .layout-icon .iconwind {
  width: 105px;
  height: 58px;
  border-radius: 30%;
}

.footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li i {
  color: #ffffff;
  font-size: 20px;
}

.footer .blue-text {
  font-size: 11px;
  color: #95deeb;
}

.circle-32 {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #000000;
}

.circle-32 .fab {
  color: white;
  padding: 7px 9px;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .main-section5 .layout {
    width: 75vw;
    margin: 0 auto;
  }
  .icon2 {
    height: 35px;
  }
  .navbar-expand-lg .navbar-nav {
    margin: 0 10px 0 -20px;
  }
  .footer .layout-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer .layout-icon .iconapp {
    width: 120px;
    height: 40px;
  }
  .footer .layout-icon .icongl {
    width: 140px;
    height: 55px;
  }
  .footer .layout-icon .iconwind {
    width: 120px;
    height: 67px;
    border-radius: 30%;
    margin-top: -13%;
  }
  .layout-90 .layout-li {
    padding-left: 3vw;
  }
  .footer .layout-90 .middle-column {
    margin: 0 auto;
    margin-bottom: 12vh;
  }
}

@media (max-width: 992px) {
  .iconhead {
    display: none;
  }
  .item-uber {
    font-size: 11px;
    margin-top: 3px;
  }
  .call-me {
    font-size: 13px;
  }
  .icon2 {
    height: 35px;
  }
  .box-number {
    font-size: 20px;
    margin-top: 0px;
  }
  .btn-style {
    text-align: end;
  }
  .head-uber2 {
    font-size: 35px;
  }
  .head-welcome {
    font-size: 20px;
  }
  .icons {
    width: 11vw;
  }
  .blutext-table {
    font-size: 13px;
  }
  .text-table {
    font-size: 13px;
  }
  .main-section5 .layout {
    width: 94vw;
    margin: 20px 20px 0 20px;
  }
  .layout .container {
    max-width: 40vw;
    margin: 20px 5px 0 5px;
  }
  .fsize-box {
    font-size: 17px;
  }
  .footer .layout-90 .middle-column .fsize-li1 {
    font-size: 16px;
  }
  .footer .layout-90 .middle-column .fsize-li2 {
    font-size: 11px;
  }
  .footer .layout-90 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .layout-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  .footer .layout-90 .middle-column {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .layout .container {
    max-width: 45vw;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .layout .container {
    max-width: 47vw;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .jumbotron .jumbotron-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-head-uber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-uber {
    text-align: center;
  }
  .box-btn {
    text-align: center;
  }
  .head-uber2 {
    font-size: 25px;
  }
  .head-welcome {
    font-size: 17px;
  }
  .fsize-15 {
    font-size: 13px;
  }
  .btn-style {
    width: 200px;
    text-align: center;
  }
  .fsize-25 {
    font-size: 20px;
  }
  .fsize-box {
    font-size: 15px;
  }
  .main-section5 .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    margin: 20px 50px 0 15px;
  }
  .main-section5 .fsize-20 {
    font-size: 20px;
  }
  .layout .container {
    max-width: 50vw;
    margin: 0 auto;
  }
  .layout-90 .layout-li li i {
    font-size: 15px;
  }
  .fsize-li {
    font-size: 9px;
  }
  .footer .layout-90 .middle-column .fsize-li1 {
    font-size: 13px;
  }
  .footer .layout-90 .middle-column .fsize-li2 {
    font-size: 8px;
  }
}

@media (max-width: 720px) {
  .main-section5 .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layout .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .row-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ico-table {
    margin: 0 auto;
  }
  .container {
    max-width: 500px;
  }
  .par-column {
    width: 430px;
    margin: 0 auto;
  }
  .par-column .blutext-table {
    text-align: center;
  }
  .par-column .text-table {
    text-align: center;
  }
  .footer .layout-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 10px;
  }
  .footer .layout-icon .iconwind {
    width: 115px;
    height: 67px;
  }
  .footer .layout-icon .icongl {
    width: 128px;
    height: 55px;
  }
  .footer .layout-icon .iconapp {
    width: 110px;
    height: 40px;
  }
  .circle-32 {
    width: 30px;
    height: 30px;
  }
  .circle-32 .fab {
    font-size: 15px;
  }
}

@media (max-width: 468px) {
  .fsize-15 {
    font-size: 12px;
  }
  .btn-style {
    padding: 11px;
  }
  .background-image2 .item-image {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .background-image2 .image-box {
    width: 39vw;
  }
  .layout-90 .background-image .container .fsize-15 {
    font-size: 12px;
  }
  .layout-90 .fsize-li2 .layout-li2 {
    font-size: 9px;
  }
}

@media (max-width: 390px) {
  .background-image2 .item-image {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .background-image2 .image-box {
    width: 80vw;
  }
}
/*# sourceMappingURL=style.css.map */